block declarations
doctype html
html(lang="en")
    //
        Made by CountBleck and DisguisedAxolotl.
        Uses the following proxies:
        https://github.com/titaniumnetwork-dev/Corrosion
        https://github.com/binary-person/womginx

        Logo by Twemoji, licensed under CC-BY 4.0.
        https://twemoji.twitter.com
    head
        -
            const description = (
                "A frontend for the Corrosion and Womginx proxies, " +
                "letting you roam the web without any restrictions!"
            )
            const favicon = "https://twemoji.maxcdn.com/v/13.1.0/72x72/1f332.png"

        meta(charset="UTF-8")
        meta(name="author", content="funnycorp")
        meta(name="description", content=description)
        meta(name="robots", content="nosnippet")
        meta(name="theme-color", content="#5c913b")
        meta(property="og:type", content="website")
        meta(property="og:site_name", content="Forage")
        meta(property="og:title", content=title)
        meta(property="og:image", content=favicon)
        meta(property="og:description", content=description)
        meta(name="twitter:card", content="summary")
        meta(name="twitter:title", content="Forage")
        meta(name="twitter:description", content="Free the soul.")

        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(
            href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap",
            rel="stylesheet"
        )
        link(rel="stylesheet", href="/index.css")
        script(anti-fouc) document.style
        link(rel="icon", type="image/png", href=favicon)
        title= title
    body.centered
        block content
